* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: Roboto;
}


section {
    position: relative;
    margin: auto;
    width: 90vw;
    height: 100%;
   
    padding-top: 20px;
}

aside#izquierda {
    background-color: blue;
    position: absolute;
    left: 0;
    top: 0;
    width: 30vw;
    height: 500px;
    margin: 20px;
}


aside#derecha {
    
    position: absolute;
    right: 0;
    top: 0;
    width: 30vw;
    height: 700px;
    margin: 20px;
}



body {
    background-color: #e9ebee;
}



.container {
  position: relative;
  top: 50px;
 
  display: block;
  margin-bottom: 80px;
  width: 500px;
  height: 600px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}



input {
  display: block;
  height: 50px;
  width: 90%;
  margin: 0 auto;
  border: none;
}
input::placeholder {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: .5s;
  transition: .5s;
}
input:hover, input:focus, input:active:focus {
  color:#6976BC;
  outline: none;
  border-bottom: 1px solid #6976BC;
}

.email,
.pwd {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #858585;
  font-weight: lighter;
  -webkit-transition: .5s;
  transition: .5s;
}


button {
  cursor: pointer;
  width: 250px;
  height: 60px;
  border: none;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}
button:nth-of-type(1) {
  background: #1931B4;
}

.register{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 130px;
}



.facebook{
     
       
    background-size: 25px 50px;
    background-image: url("https://pbs.twimg.com/profile_images/1103170022636163072/Ynuhv_Pt_400x400.png");
    background-size: 100% 100%;
    border-radius: 100%;
    width: 90px;
    height: 90px;
    position: relative;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
  
    
    }


    .required::after{
content: "*";

    }