@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/*Estilo Login*/

body{
background: #f6f5f7;	
height: 100%;
}

/*.cuerpo-login {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
}*/

h1 {
	font-weight: bold;
	margin: 0;
    font-size: 30px;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #618EB2;
	background-color: #618EB2;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

#container-login {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 80%;
	min-height: 80vh; 
	margin-bottom: 15px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #669AC3;
	background: -webkit-linear-gradient(to right, #82B2D8, #4C7BA0);
	background: linear-gradient(to right, #82B2D8, #4C7BA0);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}



footer {
    background-color: #343a40;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}
/* estilos resto*/
.contenedor
{
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

.header{
    background-color: #343a40;
	height: 80px;
    position: relative;
    margin-bottom: 15px;
}

.contenido
{
    width: 1000px;
    margin: 0 auto;
    background-color: #ECECEC;
    margin-right: 20px;
}

.icono
    {
    height: 40px;
    position: absolute;
    top: 25px;
    left: 15px;
    }

.imglogo{
    height: 80px;
    position: relative;
    top: -25px;
    right: -2vw;
}

.imglogo2{
    height: 110px;
    position: relative;
    top: -0px;
    right: 5vw;
}

.perfil{
    border-radius: 100%;
    float: right;
    margin-top: 30px;
    margin-right:15px;
    position: relative;
    }

.imgperfil{
    border-radius: 100%;
    height: 95px;
    position: relative;
    left: -5vw;
    top: -23px;
}

.estructura{
    display: flex;
}

.multimedia{
    width: 80%;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 100px;
}   

.imagen{
    width:600px;
    margin-bottom: 25px;
}

.publicidad{
    margin-top: 120px;
    
    width: 20%;
    height: 1000px;
    float: left;
    z-index: 1;
}

.menu{
    width: 20%;
}

.imagenpu{
    width: 300px;
    height: 1000px;
}

button:nth-of-type(1) {
    background: #343a40;
}

.btn,
.btn-primary {
    padding-left: 750px;
    padding-top: 25px;
    background: #343a40;
}

.card, 
.text-center, 
.border-info{
    padding-top:20px; 
    padding-bottom:20px; 
    padding-left: 20px; 
    padding-right: 20px;
}

.pensamiento{
    height: 60px;
    width: 840px;
    border-color: #DFE0E4;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;

}

@media screen and (min-width: 992px) {

    .margin-cat,.margin-search{
        margin-top: 160px;
    }


}

@media screen and (max-width:991px) {
    .margin-cat{
        margin-top: 150px;
    }

    .margin-search{
        margin-top:20px;    
    }
}


.register{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 130px;
}

.facebook{       
    background-size: 25px 50px;
    background-image: url("https://pbs.twimg.com/profile_images/1103170022636163072/Ynuhv_Pt_400x400.png");
    background-size: 100% 100%;
    border-radius: 100%;
    width: 90px;
    height: 90px;
    position: relative;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
}

.required::after{
    content: "*";
}

.email,
.pwd {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  color: #858585;
  font-weight: lighter;
  -webkit-transition: .5s;
  transition: .5s;
}

aside#izquierda {
    background-color: blue;
    position: absolute;
    left: 0;
    top: 0;
    width: 30vw;
    height: 500px;
    margin: 20px;
}

aside#derecha {
    position: absolute;
    right: 0;
    top: 0;
    width: 30vw;
    height: 700px;
    margin: 20px;
}

input::placeholder {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: .5s;
    transition: .5s;
}

input:hover, input:focus, input:active:focus {
    color:#6976BC;
    outline: none;
    border-bottom: 1px solid #6976BC;
}



input {
    display: block;
    height: 50px;
    width: 90%;
    margin: 0 auto;
    border: none;
  }

.datos{
    font-family: Roboto;
}

.navbar-size{
    height: 100px;
}
